* {
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    height: 200px;
    background-color: #7bbfea;
    /* margin: -100px 0 0 -200px; */
    border-radius: 10px;
}

.qrcode {
    width: 100px;
    height: 100px;
}

.about {
    width: 230px;
    height: 200px;
    background-color: #fffef9;
    border-radius: 5px 25px 25px 5px;
    box-shadow: 5px 5px 5px #ccc inset;
    border-bottom: 1px solid #ccc;
}

section {
    height: 40px;
    width: 150px;
    font-family: 'Lobster', cursive;
    text-align: center;
}

section h2{
    letter-spacing: 2px;
}

section p {
    margin-top: .2em;
    font-size: 1.1em;
}

img {
    width: 100%;
    border-radius: 5px;
    opacity: .85;
}