/* 下面我们将针对定位反复进行练习 */

.container {
    /* 设置绝对定位 */
    position: absolute;
    /* 设置 top 值为 50% */
    top: 50%;
    /* 设置 left 值为 50% */
    left: 50%;
    /* 同时思考参考点应该是哪一个点 */
    /* 通过设置 margin 将该盒子居中 */
    margin-top: -100px;
    margin-left: -200px;
}

.qrcode {
    /* 设置绝对定位 */
    position: absolute;
    /* 设置 top 值为 50% */
    top: 50%;
    left: 50%;
    /* 设置 left 值为 50% */
    /* 同时思考参考点应该是哪一个点 */
    /* 通过设置 margin 将该盒子居中 */
    /* margin-top -50  margin-left 60 */
    margin-top: -50px;
    margin-left: 60px;
}

.about {
    /* 设置绝对定位 */
    position: absolute;
    top: 0;
    left: 0;
    /* 设置 top 值为 0 */
    /* 设置 left 值为 0 */
    /* 同时思考参考点应该是哪一个点 */
}

section {
    /* 设置绝对定位 */
    position: absolute;
    top: 50%;
    left: 50%;
    /* 设置 top 值为 50% */
    /* 设置 left 值为 50% */
    /* 同时思考参考点应该是哪一个点 */
    /* 通过设置 margin 调整盒子 */
    /* margin-top -30  margin-left -75 */
    margin-top: -30px;
    margin-left: -75px;
}