/* 最上面部分 */

.item1-intro::before {
    /* 下边这条样式是轮廓，为了方便前期看到盒子 */
    /* 背景图片设置好之后，可以去除 */
    /* 请在此处插入背景图片 */
    background: url('./jd.png') no-repeat;
}

.item1-intro:nth-child(1)::before {
    /* 请在此处设置背景图片的位置，该图标的位置信息为 0，192 */
    background-position: 0 -192px;
}

.item1-intro:nth-child(2)::before {
    /* 请在此处设置背景图片的位置，该图标的位置信息为 41，192 */
    background-position: -41px -192px;
}

.item1-intro:nth-child(3)::before {
    /* 请在此处设置背景图片的位置，该图标的位置信息为 82，192 */
    background-position: -82px -192px;
}

.item1-intro:nth-child(4)::before {
    /* 请在此处设置背景图片的位置，该图标的位置信息为 123，192 */
    background-position: -123px -192px;
}

/* 各个国家部分 */

.global>a::before {
    /* 下边这条样式是轮廓，为了方便前期看到盒子 */
    /* 背景图片设置好之后，可以去除 */
    /* 请在此处插入背景图片 */
    background: url('./jd.png') no-repeat;
}

.global>a:nth-child(1)::before {
    /* 请在此处设置背景图片的位置，该图标的位置信息为 107，155 */
    background-position: -107px -155px;
}

.global>a:nth-child(2)::before {
    /* 请在此处设置背景图片的位置，该图标的位置信息为 167，155 */
    background-position: -167px -155px;
}

.global>a:nth-child(3)::before {
    /* 请在此处设置背景图片的位置，该图标的位置信息为 148，155 */
    background-position: -148px -155px;
}

.global>a:nth-child(4)::before {
    /* 请在此处设置背景图片的位置，该图标的位置信息为 127，155 */
    background-position: -127px -155px;
}

.global>a:nth-child(5)::before {
    /* 请在此处设置背景图片的位置，该图标的位置信息为 107，171 */
    background-position: -107px -171px;
}

/* 最下面工商信息部分 */

.brand>div {
    /* 下边这条样式是轮廓，为了方便前期看到盒子 */
    /* 背景图片设置好之后，可以去除 */
    /* 请在此处插入背景图片 */
    background: url('./jd.png') no-repeat;
}

.brand>div:nth-child(1) {
    /* 请在此处设置背景图片的位置，该图标的位置信息为 204，111 */
    background-position: -204px -111px;
}

.brand>div:nth-child(2) {
    /* 请在此处设置背景图片的位置，该图标的位置信息为 204，74 */
    background-position: -204px -74px;
}

.brand>div:nth-child(3) {
    /* 请在此处设置背景图片的位置，该图标的位置信息为 204，37 */
    background-position: -204px -37px;
}

.brand>div:nth-child(4) {
    /* 请在此处设置背景图片的位置，该图标的位置信息为 0 155 */
    background-position: 0 -155px;
}

.brand>div:nth-child(5) {
    /* 请在此处设置背景图片的位置，该图标的位置信息为 204，149 */
    background-position: -204px -149px;
}

.brand>div:nth-child(6) {
    /* 请在此处设置背景图片的位置，该图标的位置信息为 204，0 */
    background-position: -204px 0;
}